button {
    color: var(--secondary-color); 
    border-color: var(--primary-color);
}
button:hover {
    color: var(--secondary-color); 
    background-color: var(--shaded-primary);
    border-color: var(--primary-color);
}

a {
    text-decoration: none; 
    color: var(--secondary-color);
}
a:hover {
    text-decoration: underline; 
    color: var(--secondary-color);
}

.testReg {

    color: var(--secondary-color); 
    border-color: var(--primary-color);

}

.testReg:hover {
    color: var(--secondary-color); 
    background-color: var(--shaded-primary);
    border-color: var(--primary-color);
}