<div *ngIf="user$ | async; let user" id="clinicContainer">
    <!-- Image and text -->
    <nav class="navbar navbar-dark" style="background-color: var(--tertiary-color);">
        <a class="navbar-brand" href="#" style="padding-left: 1%;">
          <img src="../../../assets/city_logo_white.png" style="vertical-align: middle;" width="80" height="80" class="d-inline-block" alt="">
          Kingston Locums Project
        </a>
        <div style="float: right; padding-right: 1%;">
            <button routerLink="/dashboard" class="btn">Back to Dashboard</button>
            &nbsp;
            <button (click)="logout()" class="btn">Logout</button>
        </div>
      </nav>
        <div *ngIf="user.role == 'admin' || user.role == 'clinic'" class="container" id="clinic">
          <div class="container">
            <form [formGroup]="form"
            (ngSubmit)="addShift()">
              <h4>Submit Timesheet</h4>
              <label for="clinic">Clinic Email:</label> &nbsp;
              <label for="clinicName">{{user.email}}</label>
              <br><br>
              
              <label for="start_date">Start Date:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <input type="date" id="start_date" name="start_date" formControlName="startingDate">
              <br><br>
              <label for="end_date">End Date:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <input type="date" id="end_date" name="end_date" formControlName="endingDate">
              <br><br>
              <label for="clinic_name">Clinic Address:</label>&nbsp;
              <input type="text" id="clinic_name" name="clinic_name" formControlName="clinicName">
              <br><br>
              <label for="main_doctor">Main Doctor:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <input type="text" id="main_doctor" name="main_doctor" formControlName="mainDoctor">
              <br><br>
              <label for="notes">Additional Notes:</label><br>
              <textarea id="notes" name="notes" rows="4" cols="50" formControlName="additionalNotes"></textarea>
              <br><br>
              
              <button type="submit" class="btn" [disabled]="isSaving">
                {{ isSaving ? 'Updating Shift..' : 'Submit' }}
              </button>              
          </form>
          </div>
          <hr>
          <br>
          <div class="container">
            <form [formGroup]="deleteForm" (ngSubmit)="deleteShift()">
              <h4>Delete Timesheet</h4>
              <label for="start_date">Select Shift:</label>&nbsp;
              <select id="clinic" name="clinic" formControlName="delShift">
                <option [value]=""></option>
                <option *ngFor="let shift of clinicShifts" [value]="shift">{{ shift }}</option>
              </select>
              <br><br>
              <button type="submit" class="btn" [disabled]="isSaving">
                {{ isSaving ? 'Updating Shift..' : 'Submit' }}
              </button>
          </form>
          </div>
        </div>
</div>