<div class="signupContents">
    <div class="col-md-4 mt-3" style="margin: auto;">
        <img src="../../../assets/city_logo_white.png" style="display: block; margin-left: auto; margin-right: auto; width: 40%; height: 40%;">

        <form action="" class="mt-5 p-5" style="background-color: var(--tertiary-color); border-radius: 3%;">
            <h5 class="mb-3" style="color: var(--secondary-color);">Register as a Locum</h5>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="displayName" name="displayName" [(ngModel)]="displayName">
                <label for="floatingInput" style="color: var(--primary-color);">Full Name</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingPhone" placeholder="phoneNumber" name="phoneNumber" [(ngModel)]="phoneNumber">
                <label for="floatingPhone" style="color: var(--primary-color);">Phone Number</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingEmail" placeholder="Username" name="username" [(ngModel)]="email">
                <label for="floatingEmail" style="color: var(--primary-color);">Email Address</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password" [(ngModel)]="password">
                <label for="floatingPassword" style="color: var(--primary-color);">Password</label>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn me-md-2" style="color: var(--secondary-color); border-color: var(--primary-color);" type="button" (click)="register()" >Sign Up</button>
            </div>
            <a routerLink="/">Already have an account?</a><br>
            
        </form>
    </div>
</div>