<div class="container" *ngIf="user$ | async; let user">
    <div>
      <img src="../../../assets/city_logo_blue.png" alt="" height="150" width="150">
      <div style="float: right; padding-top: 3%;">
        <button routerLink="/admin" *ngIf="user.role == 'admin'" class="btn btn-primary">Control Panel</button>
        &nbsp;
        <button class="btn btn-primary" (click)="edit(user)">Edit Profile</button>
        &nbsp;
        <button type="button" class="btn btn-primary" (click)="logout()">Logout</button>
      </div>
    </div>
    <h4 style="text-align: center;"> Welcome back {{user.displayName}}! </h4>
    <calendar-component></calendar-component>
</div>
