<div class="signupContents">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <img src="../../../assets/login_img.svg" alt="" height="100%" width="100%">
            </div>
            <div class="col-md-4 mt-3">
                <h3 style="color: #E0E2DB;">Reset Password</h3>

                <form action="" class="mt-5 p-5" style="background-color: #889696; border-radius: 3%;">
                    <h5 class="mb-3" style="color: #D2D4C8;">Forgot your Password?</h5>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="Username" name="username" [(ngModel)]="email">
                        <label for="floatingInput" style="color: #889696;">Email Address</label>
                    </div>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button class="btn me-md-2" style="color: #D2D4C8; border-color: #D2D4C8;" type="button" (click)="forgotPassword()" >Send Link</button>
                    </div>
                    <a routerLink="/">Back to Login</a>
                </form>
            </div>
            <div class="col-md-2">
                
            </div>
        </div>
    </div>
</div>