<div *ngIf="user$ | async; let user" id="adminContainer">
    <!-- Image and text -->
    <nav class="navbar navbar-dark" style="background-color: var(--tertiary-color);">
    <a class="navbar-brand" href="#" style="padding-left: 1%;">
      <img src="../../../assets/city_logo_white.png" style="vertical-align: middle;" width="80" height="80" class="d-inline-block" alt="">
      Kingston Locums Project
    </a>
    <div style="float: right; padding-right: 1%;">
        <button routerLink="/dashboard" class="btn">Back to Dashboard</button>
        &nbsp;
        <button (click)="logout()" class="btn">Logout</button>
    </div>
  </nav>
    <div *ngIf="user.role == 'admin'" class="container" id="admin">
        <ng-template #content let-modal>
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Set User Role</h4>
                <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="setRole"> 
                    <div class="form-group">
                        <label>Email</label>
                        <input type="string"
                               formControlName="email"
                               class="form-control"
                               placeholder="Enter user email">
                      </div>
                      <div class="form-group">
                        <label>Select Role</label>
                        <select class="form-select" formControlName="role">
                            <option value="locum">Locum</option>
                            <option value="clinic">Clinic</option>
                            <option value="admin">Admin</option>
                          </select>                          
                      </div>
                      <br>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button"
              class="btn btn-outline-danger"
              style="border-color: red; color: red;"
              (click)="modal.dismiss()">Cancel</button>
      <button type="submit"
              class="btn btn-primary"
              (click)="modal.close('role')">Save</button>
            </div>
        </ng-template>
        <ng-template #del let-modal>
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Delete User</h4>
                <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="deleteUser">
                    <div class="form-group">
                        <label>Email</label>
                        <input type="string"
                               formControlName="delEmail"
                               class="form-control"
                               placeholder="Enter user email">
                      </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button"
              class="btn btn-outline-danger"
              style="border-color: red; color: red;"
              (click)="modal.dismiss()">Cancel</button>
      <button type="button"
              class="btn btn-primary"
              (click)="modal.close('del')">Save</button>
            </div>
        </ng-template>
        <ng-template #check let-modal>
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Check User Role</h4>
                <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="getRole">
                    <div class="form-group">
                        <label>Email</label>
                        <input type="string"
                               formControlName="roleEmail"
                               class="form-control"
                               placeholder="Enter user email">
                      </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button"
              class="btn btn-outline-danger"
              style="border-color: red; color: red;"
              (click)="modal.dismiss()">Cancel</button>
      <button type="button"
              class="btn btn-primary"
              (click)="modal.close('check')">Save</button>
            </div>
        </ng-template>
        <h4 style="color: var(--secondary-color);">Admin Control Panel</h4>
        <span style="color:var(--secondary-color); vertical-align: middle;">Click this button to get all relevant metadata on the user, including registration email, phone number, and role. </span>&nbsp;<button type="button" class="btn" (click)="open(check)">Check User Information</button>
        <br><br>
        <span style="color:var(--secondary-color); vertical-align: middle;">Click this button to set a user's role (locum, clinic, or admin) by their email. Please do NOT set people as admins unless they are trusted.</span>&nbsp;<button type="button" class="btn" (click)="open(content)">Set User Role</button>
        <br><br>
        <span style="color:var(--secondary-color); vertical-align: middle;">Click this button to delete a user from their email. THIS ACTION IS NON-REVERSIBLE! Please verify the deletion through Firebase Console.</span>&nbsp;<button type="button" class="btn" (click)="open(del)">Delete User</button>
    </div>
</div>
